/HDL/Saludo_Dinamico/nbproject/private/
/HDL/Saludo_Dinamico/build/
/HDL/Hoja02Ejercicio01/nbproject/private/
/HDL/Hoja02Ejercicio01/build/
/HDL/Hoja02Ejercicio01V2/nbproject/private/
/HDL/Hoja02Ejercicio01V2/build/
/HDL/Hoja02Ejercicio01V3/nbproject/private/
/HDL/Hoja02Ejercicio01V3/build/
/HDL/TamañoLetra/nbproject/private/
/HDL/TamañoLetra/build/
/HDL/TamañoLetra/dist/
/HDL/Formulario_Completo/nbproject/private/
/HDL/Formulario_Completo/build/
/HDL/Formulario_Completo_V2/nbproject/private/
/HDL/Formulario_Completo_V2/build/
/HDL/Tipo5-cines/nbproject/private/
/HDL/Tipo5-cines/build/
/HDL/dataTablePersona/nbproject/private/
/HDL/dataTablePersona/build/
/HDL/JDBC_tabla/nbproject/private/
/HDL/JDBC_tabla/build/
/HDL/TablaOracle/nbproject/private/