/HDL/Saludo_Dinamico/nbproject/private/
/HDL/Saludo_Dinamico/build/
/HDL/Hoja02Ejercicio01/nbproject/private/
/HDL/Hoja02Ejercicio01/build/
/HDL/Hoja02Ejercicio01V2/nbproject/private/
/HDL/Hoja02Ejercicio01V2/build/
/HDL/Hoja02Ejercicio01V3/nbproject/private/
/HDL/Hoja02Ejercicio01V3/build/
/HDL/TamañoLetra/nbproject/private/
/HDL/TamañoLetra/build/