/HDL/Saludo_Dinamico/nbproject/private/
/HDL/Saludo_Dinamico/build/
/HDL/Hoja02Ejercicio01/nbproject/private/
/HDL/Hoja02Ejercicio01/build/
/HDL/Hoja02Ejercicio01V2/nbproject/private/
/HDL/Hoja02Ejercicio01V2/build/
/HDL/Hoja02Ejercicio01V3/nbproject/private/
/HDL/Hoja02Ejercicio01V3/build/
/HDL/TamañoLetra/nbproject/private/
/HDL/TamañoLetra/build/
/HDL/TamañoLetra/dist/
/HDL/Formulario_Completo/nbproject/private/
/HDL/Formulario_Completo/build/
/HDL/Formulario_Completo_V2/nbproject/private/
/HDL/Formulario_Completo_V2/build/
/HDL/Tipo5-cines/nbproject/private/
/HDL/Tipo5-cines/build/
/HDL/dataTablePersona/nbproject/private/
/HDL/dataTablePersona/build/
/HDL/JDBC_tabla/nbproject/private/
/HDL/JDBC_tabla/build/
/HDL/TablaOracle/nbproject/private/
/HDL/ejRenfe/nbproject/private/
/HDL/ejRenfe/build/
/HDL/AltaEmpleados/nbproject/private/
/HDL/AltaEmpleado2/nbproject/private/
/HDL/AltaEmpleado2/build/
/HDL/AltaEmpleados2/nbproject/private/
/HDL/AltaEmpleados2/build/
/HDL/Proyecto_2/nbproject/private/
/HDL/Proyecto_2/build/
/HDL/Proyecto2_Tipo5/nbproject/private/
/HDL/Proyecto2_Tipo5/build/
/HDL/Ocio_Sevilla/nbproject/private/
/HDL/Ocio_Sevilla/build/
/HDL/tablaColores/nbproject/private/
/HDL/OcioSevilla_Solucion/nbproject/private/
/HDL/OcioSevilla_Solucion/build/
/HDL/Datatable2_1/build/
/HDL/Datatable2_1/nbproject/private/
/HDL/OcioSevillaTablasAux/build/
/HDL/OcioSevillaTablasAux/dist/
/HDL/OcioSevillaTablasAux/nbproject/private/