#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:fit-content;
  }
  
  li {
    display:inline;
    padding:1px;
  }
  
  li a {
    display: block;
    background-color:#2175bc;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }
  
  li a:hover {
    background-color: #2586d7;
    padding-top:2px;
  }